{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'app/css/base.css' %}">

    <title>My Blog</title>

</head>


<body>
<style>
    h1 {
        text-align: center;
        color: blue;

    }


</style>
<h1 style="color:blue;"> assalomu alaykum </h1>
<h2 style="color:blue;"> hush kelibsiz</h2>

<h2 style="color:black;"> Boburning hayoti va ijodi</h2>
<style>
    h2 {
        text-align: center;
        color: blue;

    }


</style>


<div class="box-1">

    <p>
        Men 2003-yil 26-mart kuni toshkentta tavallud toptim
        2009-yili 129-maktabning 1-a sinf oquvchisi boldim
        hullas nmadr nmadr  qoganini yozsh ja zerkarli




    </p>
</div>


<br>
<h2>Meni shular orqali topsa boladi</h2>

<a href="https://t.me/@BoburT2838" target="_blank">Telegram</a> <br>
<a href="https://www.instagram.com/muhammadbobur108?utm_source=qr&igsh=cDFkNGpsMTB2YjVi" target="_blank">instagram</a> <br>

<br>

<form method="get">


</form>
<!-- <label> Gender:
<input type="radio" >
<input type="radio" >
</label> -->

<h3> Oila azolar</h3>
<ol>
    <li>Yodgor </li>
    <li>Bahodir </li>
    <li>O'giloy </li>
    <li>Bobur </li>
    <li>Tohir</li>
    <li>Xonzoda</li>
    <li>Humoyun</li>
    <li>SHohjahon</li>

</ol>

<img src="{% static 'app/img/sher.png' %}" width="300px" height="200px">


</body>


</html>